@inherits LayoutComponentBase

<HLoader />
<!-- Navbar -->
<div class="sticky-top">
    <header class="navbar navbar-expand-md sticky-top d-print-none">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                <a href="/" class="d-flex align-items-center text-decoration-none">
                    <img src="../assets/d8755f9f74d5dd8b84c4.jpg" width="110" height="32" alt="HSystem" class="navbar-brand-image">
                    <span style="height: 100%; display: grid;margin-left: 4px;">
                        <svg data-layer-type="text" y="" viewBox="3.869999885559082 9.420000076293945 156.86000061035156 33.11000061035156" height="33.11000061035156" width="156.86000061035156"
                             style="width: 50px;height: 16px">
                            <g data-horizontal-grow="left" style="fill: rgb(19, 28, 62); font-size: 43px; font-weight: 600; font-style: normal; font-family: Sora; text-transform: none; fill-opacity: 1; letter-spacing: 0.2em;">
                                <path d="M30.57 41.71L24.47 41.71L24.47 10.32L30.57 10.32L30.57 41.71ZM9.98 41.71L3.87 41.71L3.87 10.32L9.98 10.32L9.98 41.71ZM25.59 28.68L8.86 28.68L8.86 23.31L25.59 23.31L25.59 28.68ZM57.62 42.53L57.62 42.53Q53.45 42.53 50.59 41.19Q47.73 39.86 46.23 37.52Q44.72 35.17 44.72 32.21L44.72 32.21L50.70 32.21Q50.70 33.45 51.39 34.64Q52.07 35.82 53.60 36.55Q55.13 37.28 57.62 37.28L57.62 37.28Q59.86 37.28 61.36 36.64Q62.87 35.99 63.60 34.94Q64.33 33.88 64.33 32.55L64.33 32.55Q64.33 30.87 62.91 29.86Q61.49 28.85 58.52 28.59L58.52 28.59L55.77 28.38Q51.26 27.99 48.57 25.56Q45.88 23.13 45.88 19.13L45.88 19.13Q45.88 16.13 47.30 13.95Q48.72 11.78 51.28 10.60Q53.84 9.42 57.28 9.42L57.28 9.42Q60.85 9.42 63.43 10.66Q66.01 11.91 67.42 14.17Q68.84 16.43 68.84 19.48L68.84 19.48L62.87 19.48Q62.87 18.19 62.24 17.09Q61.62 16.00 60.39 15.33Q59.17 14.66 57.28 14.66L57.28 14.66Q55.47 14.66 54.27 15.26Q53.06 15.87 52.46 16.90Q51.86 17.93 51.86 19.13L51.86 19.13Q51.86 20.60 52.93 21.69Q54.01 22.79 56.33 22.96L56.33 22.96L59.08 23.22Q62.44 23.48 64.97 24.64Q67.51 25.80 68.91 27.78Q70.31 29.76 70.31 32.55L70.31 32.55Q70.31 35.52 68.76 37.78Q67.21 40.03 64.35 41.28Q61.49 42.53 57.62 42.53ZM95.25 42.53L95.25 42.53Q92.15 42.53 89.78 41.54Q87.42 40.55 85.78 38.85Q84.15 37.15 83.31 35.00Q82.47 32.85 82.47 30.53L82.47 30.53L82.47 29.63Q82.47 27.22 83.36 25.05Q84.24 22.88 85.89 21.18Q87.55 19.48 89.91 18.51Q92.28 17.54 95.25 17.54L95.25 17.54Q98.21 17.54 100.58 18.51Q102.94 19.48 104.60 21.18Q106.25 22.88 107.11 25.05Q107.97 27.22 107.97 29.63L107.97 29.63L107.97 30.53Q107.97 32.85 107.13 35.00Q106.30 37.15 104.66 38.85Q103.03 40.55 100.66 41.54Q98.30 42.53 95.25 42.53ZM95.25 37.41L95.25 37.41Q97.44 37.41 98.94 36.44Q100.45 35.48 101.22 33.82Q102.00 32.16 102.00 30.06L102.00 30.06Q102.00 27.91 101.20 26.25Q100.41 24.60 98.88 23.63Q97.35 22.66 95.25 22.66L95.25 22.66Q93.14 22.66 91.61 23.63Q90.09 24.60 89.27 26.25Q88.45 27.91 88.45 30.06L88.45 30.06Q88.45 32.16 89.25 33.82Q90.04 35.48 91.55 36.44Q93.05 37.41 95.25 37.41ZM127.97 41.71L122.38 41.71L122.38 17.80Q122.38 13.80 124.59 11.89Q126.81 9.98 131.15 9.98L131.15 9.98L134.07 9.98L134.07 14.58L130.72 14.58Q129.39 14.58 128.68 15.29Q127.97 16.00 127.97 17.29L127.97 17.29L127.97 41.71ZM134.46 23.13L119.45 23.13L119.45 18.75L134.46 18.75L134.46 23.13ZM160.73 42.01L157.38 42.01Q154.16 42.01 152.07 41.17Q149.98 40.33 148.95 38.33Q147.92 36.34 147.92 32.94L147.92 32.94L147.96 11.78L153.55 11.78L153.51 33.33Q153.51 35.05 154.43 35.97Q155.36 36.89 157.08 36.89L157.08 36.89L160.73 36.89L160.73 42.01ZM160.73 22.75L144.22 22.75L144.22 18.36L160.73 18.36L160.73 22.75Z" transform="translate(0, 0)"></path>
                            </g>
                        </svg>
                        <svg data-layer-type="text" y="316.1800003433228" viewBox="0.48000001907348633 0.320000022649765 276.0899963378906 14.49000072479248" x="170.304" height="14.49000072479248" width="276.0899963378906"
                             style="width: 135px;">
                            <g data-horizontal-grow="left" style="fill: rgb(19, 28, 62); font-size: 17px; font-weight: 400; font-style: normal; font-family: &quot;Josefin Sans&quot; text-transform: uppercase; letter-spacing: 0.1em; fill-opacity: 0.7;">
                                <path d="M5.03 12.75L5.03 8.65L0.48 0.46L2.50 0.46L6.15 7.24L5.64 7.28L9.27 0.46L11.27 0.46L6.68 8.65L6.68 12.75L5.03 12.75ZM13.46 6.61L13.46 6.61Q13.46 5.34 13.95 4.21Q14.43 3.08 15.30 2.20Q16.17 1.33 17.30 0.82Q18.43 0.32 19.74 0.32L19.74 0.32Q21.03 0.32 22.16 0.82Q23.29 1.33 24.17 2.20Q25.04 3.08 25.53 4.21Q26.03 5.34 26.03 6.61L26.03 6.61Q26.03 7.92 25.53 9.06Q25.04 10.20 24.17 11.06Q23.31 11.92 22.17 12.40Q21.03 12.89 19.74 12.89L19.74 12.89Q18.43 12.89 17.30 12.41Q16.17 11.93 15.30 11.08Q14.43 10.23 13.95 9.10Q13.46 7.96 13.46 6.61ZM15.16 6.63L15.16 6.63Q15.16 7.60 15.52 8.44Q15.88 9.28 16.51 9.93Q17.14 10.57 17.97 10.94Q18.80 11.31 19.77 11.31L19.77 11.31Q20.72 11.31 21.56 10.94Q22.39 10.57 23.00 9.93Q23.61 9.28 23.97 8.44Q24.33 7.60 24.33 6.61L24.33 6.61Q24.33 5.64 23.97 4.79Q23.61 3.93 22.98 3.28Q22.36 2.64 21.52 2.27Q20.69 1.90 19.74 1.90L19.74 1.90Q18.77 1.90 17.94 2.28Q17.10 2.65 16.47 3.30Q15.84 3.94 15.50 4.80Q15.16 5.66 15.16 6.63ZM31.98 0.46L31.98 8.40Q31.98 9.23 32.38 9.89Q32.78 10.54 33.44 10.91Q34.10 11.29 34.94 11.29L34.94 11.29Q35.80 11.29 36.48 10.91Q37.16 10.54 37.55 9.89Q37.94 9.23 37.94 8.40L37.94 8.40L37.94 0.46L39.56 0.46L39.56 8.45Q39.56 9.79 38.94 10.80Q38.32 11.80 37.27 12.34Q36.23 12.89 34.94 12.89L34.94 12.89L34.94 12.89Q33.64 12.89 32.61 12.34Q31.57 11.80 30.96 10.80Q30.34 9.79 30.34 8.45L30.34 8.45L30.34 0.46L31.98 0.46ZM44.63 0.46L47.89 0.46Q48.82 0.46 49.61 0.71Q50.41 0.95 50.99 1.44Q51.58 1.92 51.91 2.63Q52.24 3.33 52.24 4.27L52.24 4.27Q52.24 5.00 52.03 5.70Q51.82 6.39 51.32 6.96Q50.83 7.53 50.04 7.88Q49.25 8.23 48.09 8.23L48.09 8.23L46.27 8.23L46.27 12.75L44.63 12.75L44.63 0.46ZM46.27 6.65L48.06 6.65Q48.79 6.65 49.27 6.43Q49.76 6.21 50.03 5.86Q50.30 5.51 50.42 5.10Q50.54 4.69 50.54 4.34L50.54 4.34Q50.54 3.96 50.41 3.56Q50.29 3.16 50.01 2.82Q49.73 2.48 49.27 2.26Q48.82 2.04 48.18 2.04L48.18 2.04L46.27 2.04L46.27 6.65ZM48.13 7.63L50.08 7.58L53.30 12.75L51.39 12.75L48.13 7.63ZM63.70 2.04L63.70 0.46L71.86 0.46L71.86 2.04L68.56 2.04L68.56 12.75L66.91 12.75L66.91 2.04L63.70 2.04ZM76.18 0.46L79.44 0.46Q80.38 0.46 81.17 0.71Q81.96 0.95 82.54 1.44Q83.13 1.92 83.46 2.63Q83.79 3.33 83.79 4.27L83.79 4.27Q83.79 5.00 83.58 5.70Q83.37 6.39 82.88 6.96Q82.38 7.53 81.59 7.88Q80.80 8.23 79.65 8.23L79.65 8.23L77.83 8.23L77.83 12.75L76.18 12.75L76.18 0.46ZM77.83 6.65L79.61 6.65Q80.34 6.65 80.83 6.43Q81.31 6.21 81.58 5.86Q81.86 5.51 81.97 5.10Q82.09 4.69 82.09 4.34L82.09 4.34Q82.09 3.96 81.97 3.56Q81.84 3.16 81.56 2.82Q81.28 2.48 80.83 2.26Q80.38 2.04 79.73 2.04L79.73 2.04L77.83 2.04L77.83 6.65ZM79.68 7.63L81.63 7.58L84.85 12.75L82.94 12.75L79.68 7.63ZM90.56 0.46L90.56 8.40Q90.56 9.23 90.96 9.89Q91.36 10.54 92.02 10.91Q92.68 11.29 93.52 11.29L93.52 11.29Q94.38 11.29 95.06 10.91Q95.74 10.54 96.14 9.89Q96.53 9.23 96.53 8.40L96.53 8.40L96.53 0.46L98.14 0.46L98.14 8.45Q98.14 9.79 97.52 10.80Q96.90 11.80 95.85 12.34Q94.81 12.89 93.52 12.89L93.52 12.89L93.52 12.89Q92.23 12.89 91.19 12.34Q90.15 11.80 89.54 10.80Q88.93 9.79 88.93 8.45L88.93 8.45L88.93 0.46L90.56 0.46ZM110.19 1.38L109.57 2.65Q108.94 2.33 108.19 2.09Q107.44 1.85 106.73 1.85L106.73 1.85Q105.74 1.85 105.15 2.31Q104.57 2.77 104.57 3.54L104.57 3.54Q104.57 4.11 104.94 4.51Q105.32 4.91 105.93 5.20Q106.54 5.49 107.20 5.75L107.20 5.75Q107.78 5.97 108.34 6.24Q108.90 6.51 109.35 6.92Q109.80 7.33 110.07 7.92Q110.33 8.52 110.33 9.40L110.33 9.40Q110.33 10.37 109.85 11.17Q109.36 11.97 108.46 12.43Q107.56 12.89 106.32 12.89L106.32 12.89Q105.50 12.89 104.76 12.70Q104.02 12.51 103.39 12.21Q102.77 11.92 102.27 11.59L102.27 11.59L103.00 10.30Q103.41 10.59 103.94 10.85Q104.47 11.12 105.04 11.28Q105.62 11.44 106.17 11.44L106.17 11.44Q106.74 11.44 107.31 11.23Q107.88 11.02 108.26 10.57Q108.63 10.13 108.63 9.40L108.63 9.40Q108.63 8.77 108.30 8.36Q107.97 7.94 107.42 7.64Q106.88 7.34 106.27 7.11L106.27 7.11Q105.69 6.89 105.09 6.62Q104.50 6.36 103.99 5.98Q103.48 5.59 103.17 5.03Q102.87 4.47 102.87 3.67L102.87 3.67Q102.87 2.70 103.33 1.98Q103.80 1.26 104.62 0.84Q105.43 0.43 106.49 0.39L106.49 0.39Q107.68 0.39 108.59 0.68Q109.50 0.97 110.19 1.38L110.19 1.38ZM122.89 0.46L124.53 0.46L124.53 12.75L122.89 12.75L122.89 7.36L116.45 7.36L116.45 12.75L114.80 12.75L114.80 0.46L116.45 0.46L116.45 5.80L122.89 5.80L122.89 0.46ZM129.37 11.27L130.80 11.27Q130.42 12.16 130.06 13.03Q129.69 13.91 129.32 14.81L129.32 14.81L128.04 14.81Q128.38 13.91 128.71 13.03Q129.03 12.16 129.37 11.27L129.37 11.27ZM141.22 6.61L141.22 6.61Q141.22 5.34 141.70 4.21Q142.19 3.08 143.06 2.20Q143.92 1.33 145.05 0.82Q146.18 0.32 147.49 0.32L147.49 0.32Q148.78 0.32 149.91 0.82Q151.05 1.33 151.92 2.20Q152.80 3.08 153.29 4.21Q153.78 5.34 153.78 6.61L153.78 6.61Q153.78 7.92 153.29 9.06Q152.80 10.20 151.93 11.06Q151.06 11.92 149.92 12.40Q148.78 12.89 147.49 12.89L147.49 12.89Q146.18 12.89 145.05 12.41Q143.92 11.93 143.06 11.08Q142.19 10.23 141.70 9.10Q141.22 7.96 141.22 6.61ZM142.92 6.63L142.92 6.63Q142.92 7.60 143.28 8.44Q143.63 9.28 144.26 9.93Q144.89 10.57 145.72 10.94Q146.56 11.31 147.53 11.31L147.53 11.31Q148.48 11.31 149.31 10.94Q150.14 10.57 150.76 9.93Q151.37 9.28 151.73 8.44Q152.08 7.60 152.08 6.61L152.08 6.61Q152.08 5.64 151.73 4.79Q151.37 3.93 150.74 3.28Q150.11 2.64 149.28 2.27Q148.44 1.90 147.49 1.90L147.49 1.90Q146.52 1.90 145.69 2.28Q144.86 2.65 144.23 3.30Q143.60 3.94 143.26 4.80Q142.92 5.66 142.92 6.63ZM159.73 0.46L159.73 8.40Q159.73 9.23 160.13 9.89Q160.53 10.54 161.19 10.91Q161.86 11.29 162.69 11.29L162.69 11.29Q163.56 11.29 164.24 10.91Q164.92 10.54 165.31 9.89Q165.70 9.23 165.70 8.40L165.70 8.40L165.70 0.46L167.31 0.46L167.31 8.45Q167.31 9.79 166.69 10.80Q166.07 11.80 165.03 12.34Q163.98 12.89 162.69 12.89L162.69 12.89L162.69 12.89Q161.40 12.89 160.36 12.34Q159.32 11.80 158.71 10.80Q158.10 9.79 158.10 8.45L158.10 8.45L158.10 0.46L159.73 0.46ZM172.38 0.46L175.64 0.46Q176.58 0.46 177.37 0.71Q178.16 0.95 178.75 1.44Q179.33 1.92 179.66 2.63Q180.00 3.33 180.00 4.27L180.00 4.27Q180.00 5.00 179.78 5.70Q179.57 6.39 179.08 6.96Q178.59 7.53 177.79 7.88Q177.00 8.23 175.85 8.23L175.85 8.23L174.03 8.23L174.03 12.75L172.38 12.75L172.38 0.46ZM174.03 6.65L175.81 6.65Q176.54 6.65 177.03 6.43Q177.51 6.21 177.79 5.86Q178.06 5.51 178.18 5.10Q178.30 4.69 178.30 4.34L178.30 4.34Q178.30 3.96 178.17 3.56Q178.04 3.16 177.76 2.82Q177.48 2.48 177.03 2.26Q176.58 2.04 175.93 2.04L175.93 2.04L174.03 2.04L174.03 6.65ZM175.88 7.63L177.84 7.58L181.05 12.75L179.15 12.75L175.88 7.63ZM199.34 1.38L198.71 2.65Q198.08 2.33 197.34 2.09Q196.59 1.85 195.87 1.85L195.87 1.85Q194.89 1.85 194.30 2.31Q193.71 2.77 193.71 3.54L193.71 3.54Q193.71 4.11 194.09 4.51Q194.46 4.91 195.07 5.20Q195.69 5.49 196.35 5.75L196.35 5.75Q196.93 5.97 197.49 6.24Q198.05 6.51 198.50 6.92Q198.95 7.33 199.21 7.92Q199.48 8.52 199.48 9.40L199.48 9.40Q199.48 10.37 198.99 11.17Q198.51 11.97 197.61 12.43Q196.71 12.89 195.47 12.89L195.47 12.89Q194.65 12.89 193.91 12.70Q193.17 12.51 192.54 12.21Q191.91 11.92 191.42 11.59L191.42 11.59L192.15 10.30Q192.56 10.59 193.09 10.85Q193.61 11.12 194.19 11.28Q194.77 11.44 195.31 11.44L195.31 11.44Q195.89 11.44 196.46 11.23Q197.03 11.02 197.40 10.57Q197.78 10.13 197.78 9.40L197.78 9.40Q197.78 8.77 197.45 8.36Q197.11 7.94 196.57 7.64Q196.03 7.34 195.41 7.11L195.41 7.11Q194.84 6.89 194.24 6.62Q193.65 6.36 193.14 5.98Q192.63 5.59 192.32 5.03Q192.01 4.47 192.01 3.67L192.01 3.67Q192.01 2.70 192.48 1.98Q192.95 1.26 193.77 0.84Q194.58 0.43 195.64 0.39L195.64 0.39Q196.83 0.39 197.74 0.68Q198.64 0.97 199.34 1.38L199.34 1.38ZM205.43 0.46L205.43 8.40Q205.43 9.23 205.83 9.89Q206.23 10.54 206.89 10.91Q207.55 11.29 208.39 11.29L208.39 11.29Q209.25 11.29 209.93 10.91Q210.61 10.54 211.00 9.89Q211.39 9.23 211.39 8.40L211.39 8.40L211.39 0.46L213.01 0.46L213.01 8.45Q213.01 9.79 212.39 10.80Q211.77 11.80 210.72 12.34Q209.68 12.89 208.39 12.89L208.39 12.89L208.39 12.89Q207.09 12.89 206.06 12.34Q205.02 11.80 204.41 10.80Q203.80 9.79 203.80 8.45L203.80 8.45L203.80 0.46L205.43 0.46ZM226.41 10.37L227.10 11.83Q226.80 12.04 226.27 12.29Q225.74 12.55 225.04 12.72Q224.33 12.89 223.50 12.89L223.50 12.89Q222.07 12.87 220.92 12.38Q219.78 11.88 218.98 11.03Q218.18 10.18 217.74 9.07Q217.31 7.96 217.31 6.70L217.31 6.70Q217.31 5.32 217.76 4.16Q218.21 2.99 219.03 2.13Q219.84 1.28 220.96 0.80Q222.07 0.32 223.40 0.32L223.40 0.32Q224.50 0.32 225.40 0.62Q226.30 0.92 226.95 1.33L226.95 1.33L226.29 2.86Q225.78 2.52 225.05 2.21Q224.33 1.90 223.45 1.90L223.45 1.90Q222.55 1.90 221.75 2.26Q220.95 2.62 220.34 3.26Q219.72 3.91 219.38 4.77Q219.03 5.63 219.03 6.61L219.03 6.61Q219.03 7.62 219.34 8.47Q219.66 9.33 220.24 9.96Q220.83 10.59 221.66 10.95Q222.50 11.31 223.53 11.31L223.53 11.31Q224.47 11.31 225.20 11.02Q225.93 10.73 226.41 10.37L226.41 10.37ZM239.90 10.37L240.60 11.83Q240.29 12.04 239.77 12.29Q239.24 12.55 238.54 12.72Q237.83 12.89 237.00 12.89L237.00 12.89Q235.57 12.87 234.42 12.38Q233.27 11.88 232.47 11.03Q231.68 10.18 231.24 9.07Q230.81 7.96 230.81 6.70L230.81 6.70Q230.81 5.32 231.26 4.16Q231.71 2.99 232.53 2.13Q233.34 1.28 234.46 0.80Q235.57 0.32 236.89 0.32L236.89 0.32Q238.00 0.32 238.90 0.62Q239.80 0.92 240.45 1.33L240.45 1.33L239.78 2.86Q239.27 2.52 238.55 2.21Q237.83 1.90 236.95 1.90L236.95 1.90Q236.04 1.90 235.25 2.26Q234.45 2.62 233.83 3.26Q233.22 3.91 232.87 4.77Q232.53 5.63 232.53 6.61L232.53 6.61Q232.53 7.62 232.84 8.47Q233.15 9.33 233.74 9.96Q234.33 10.59 235.16 10.95Q235.99 11.31 237.03 11.31L237.03 11.31Q237.97 11.31 238.70 11.02Q239.43 10.73 239.90 10.37L239.90 10.37ZM245.07 12.75L245.07 0.46L253.06 0.46L253.06 2.04L246.72 2.04L246.72 5.78L252.38 5.78L252.38 7.36L246.72 7.36L246.72 11.17L253.30 11.17L253.30 12.75L245.07 12.75ZM264.84 1.38L264.21 2.65Q263.58 2.33 262.84 2.09Q262.09 1.85 261.37 1.85L261.37 1.85Q260.39 1.85 259.80 2.31Q259.22 2.77 259.22 3.54L259.22 3.54Q259.22 4.11 259.59 4.51Q259.96 4.91 260.58 5.20Q261.19 5.49 261.85 5.75L261.85 5.75Q262.43 5.97 262.99 6.24Q263.55 6.51 264.00 6.92Q264.45 7.33 264.72 7.92Q264.98 8.52 264.98 9.40L264.98 9.40Q264.98 10.37 264.49 11.17Q264.01 11.97 263.11 12.43Q262.21 12.89 260.97 12.89L260.97 12.89Q260.15 12.89 259.41 12.70Q258.67 12.51 258.04 12.21Q257.41 11.92 256.92 11.59L256.92 11.59L257.65 10.30Q258.06 10.59 258.59 10.85Q259.11 11.12 259.69 11.28Q260.27 11.44 260.81 11.44L260.81 11.44Q261.39 11.44 261.96 11.23Q262.53 11.02 262.90 10.57Q263.28 10.13 263.28 9.40L263.28 9.40Q263.28 8.77 262.95 8.36Q262.62 7.94 262.07 7.64Q261.53 7.34 260.92 7.11L260.92 7.11Q260.34 6.89 259.74 6.62Q259.15 6.36 258.64 5.98Q258.13 5.59 257.82 5.03Q257.52 4.47 257.52 3.67L257.52 3.67Q257.52 2.70 257.98 1.98Q258.45 1.26 259.27 0.84Q260.08 0.43 261.14 0.39L261.14 0.39Q262.33 0.39 263.24 0.68Q264.15 0.97 264.84 1.38L264.84 1.38ZM276.44 1.38L275.81 2.65Q275.18 2.33 274.43 2.09Q273.68 1.85 272.97 1.85L272.97 1.85Q271.98 1.85 271.40 2.31Q270.81 2.77 270.81 3.54L270.81 3.54Q270.81 4.11 271.18 4.51Q271.56 4.91 272.17 5.20Q272.78 5.49 273.44 5.75L273.44 5.75Q274.02 5.97 274.58 6.24Q275.14 6.51 275.60 6.92Q276.05 7.33 276.31 7.92Q276.57 8.52 276.57 9.40L276.57 9.40Q276.57 10.37 276.09 11.17Q275.60 11.97 274.70 12.43Q273.80 12.89 272.56 12.89L272.56 12.89Q271.74 12.89 271.01 12.70Q270.27 12.51 269.64 12.21Q269.01 11.92 268.51 11.59L268.51 11.59L269.25 10.30Q269.65 10.59 270.18 10.85Q270.71 11.12 271.29 11.28Q271.86 11.44 272.41 11.44L272.41 11.44Q272.99 11.44 273.56 11.23Q274.12 11.02 274.50 10.57Q274.87 10.13 274.87 9.40L274.87 9.40Q274.87 8.77 274.54 8.36Q274.21 7.94 273.67 7.64Q273.12 7.34 272.51 7.11L272.51 7.11Q271.93 6.89 271.34 6.62Q270.74 6.36 270.23 5.98Q269.72 5.59 269.42 5.03Q269.11 4.47 269.11 3.67L269.11 3.67Q269.11 2.70 269.58 1.98Q270.04 1.26 270.86 0.84Q271.68 0.43 272.73 0.39L272.73 0.39Q273.92 0.39 274.83 0.68Q275.74 0.97 276.44 1.38L276.44 1.38Z" transform="translate(0, 0)"></path>
                            </g>
                        </svg>
                    </span>
                </a>
            </h1>
            <div class="navbar-nav flex-row order-md-last">
                <div class="d-none d-md-flex">
                    <a href="/index?theme=dark" class="nav-link px-0 hide-theme-dark" title="Enable dark mode" data-bs-toggle="tooltip"
                       data-bs-placement="bottom">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /></svg>
                    </a>
                    <a href="/index?theme=light" class="nav-link px-0 hide-theme-light" title="Enable light mode" data-bs-toggle="tooltip"
                       data-bs-placement="bottom">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>
                    </a>
                    <div class="nav-item dropdown d-none d-md-flex me-1">
                        <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" /><path d="M9 17v1a3 3 0 0 0 6 0v-1" /></svg>
                            <span class="badge bg-red"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Last updates</h3>
                                </div>
                                <div class="list-group list-group-flush list-group-hoverable">
                                    <div class="list-group-item">
                                        <div class="row align-items-center">
                                            <div class="col-auto"><span class="status-dot status-dot-animated bg-red d-block"></span></div>
                                            <div class="col text-truncate">
                                                <a href="#" class="text-body d-block">Example 1</a>
                                                <div class="d-block text-muted text-truncate mt-n1">
                                                    Change deprecated html tags to text decoration classes (#29604)
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <a href="#" class="list-group-item-actions">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="row align-items-center">
                                            <div class="col-auto"><span class="status-dot d-block"></span></div>
                                            <div class="col text-truncate">
                                                <a href="#" class="text-body d-block">Example 2</a>
                                                <div class="d-block text-muted text-truncate mt-n1">
                                                    justify-content:between ⇒ justify-content:space-between (#29734)
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <a href="#" class="list-group-item-actions show">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon text-yellow" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="row align-items-center">
                                            <div class="col-auto"><span class="status-dot d-block"></span></div>
                                            <div class="col text-truncate">
                                                <a href="#" class="text-body d-block">Example 3</a>
                                                <div class="d-block text-muted text-truncate mt-n1">
                                                    Update change-version.js (#29736)
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <a href="#" class="list-group-item-actions">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="row align-items-center">
                                            <div class="col-auto"><span class="status-dot status-dot-animated bg-green d-block"></span></div>
                                            <div class="col text-truncate">
                                                <a href="#" class="text-body d-block">Example 4</a>
                                                <div class="d-block text-muted text-truncate mt-n1">
                                                    Regenerate package-lock.json (#29730)
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <a href="#" class="list-group-item-actions">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                        <img src="../assets/user.png" width="110" height="32" alt="HSystem" class="navbar-brand-image">
                        <div class="d-none d-xl-block ps-2">
                            <div style="font-size: 13px;">Hai Nguyen OST</div>
                            <div class="mt-1 text-muted" style="font-size: 11px;">Web Developer</div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <a href="#" class="dropdown-item">Status</a>
                        <a href="./profile.html" class="dropdown-item">Profile</a>
                        <a href="#" class="dropdown-item">Feedback</a>
                        <div class="dropdown-divider"></div>
                        <a href="./settings.html" class="dropdown-item">Settings</a>
                        <a href="/logout" class="dropdown-item">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <header class="navbar-expand-md">
        <div class="collapse navbar-collapse" id="navbar-menu">
            <div class="navbar">
                <div class="container-fluid">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#navbar-pspent" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                                </span>
                                <span class="nav-link-title">
                                    Hệ thống
                                </span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="branch">
                                    Chi nhánh
                                </a>
                                <a class="dropdown-item" href="user">
                                    Người dùng
                                </a>
                                <a class="dropdown-item" href="service-type">
                                    Loại dịch vụ
                                </a>
                                <a class="dropdown-item" href="skip-type">
                                    Loại da
                                </a>
                                <a class="dropdown-item text-pink" href="expense-report">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
                                    Báo cáo
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./form-elements.html">
                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                                </span>
                                <span class="nav-link-title">
                                    Form elements
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./icons.html">
                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 11a7 7 0 0 1 14 0v7a1.78 1.78 0 0 1 -3.1 1.4a1.65 1.65 0 0 0 -2.6 0a1.65 1.65 0 0 1 -2.6 0a1.65 1.65 0 0 0 -2.6 0a1.78 1.78 0 0 1 -3.1 -1.4v-7" /><path d="M10 10l.01 0" /><path d="M14 10l.01 0" /><path d="M10 14a3.5 3.5 0 0 0 4 0" /></svg>
                                </span>
                                <span class="nav-link-title">
                                    4158 icons
                                </span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#navbar-help" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M15 15l3.35 3.35" /><path d="M9 15l-3.35 3.35" /><path d="M5.65 5.65l3.35 3.35" /><path d="M18.35 5.65l-3.35 3.35" /></svg>
                                </span>
                                <span class="nav-link-title">
                                    Help
                                </span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="https://tabler.io/docs" target="_blank" rel="noopener">
                                    Documentation
                                </a>
                                <a class="dropdown-item" href="./changelog.html">
                                    Changelog
                                </a>
                                <a class="dropdown-item" href="https://github.com/tabler/tabler" target="_blank" rel="noopener">
                                    Source code
                                </a>
                                <a class="dropdown-item text-pink" href="https://github.com/sponsors/codecalm" target="_blank" rel="noopener">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
                                    Sponsor project!
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>

<div class="page-wrapper" style="margin: 4px 2px 2px 2px">
    <TelerikRootComponent>
        <HBreadcrumb Breadcrumbs="@ListBreadcrumbs" />
        <CascadingValue Value="@BreadcrumbsHandler">
          @Body
        </CascadingValue>
        <HToast />
    </TelerikRootComponent>
</div>
